body {
    background: linear-gradient(45deg, #64270386 25%, transparent 25%) 0 0,
              linear-gradient(-45deg, #967801 25%, transparent 25%) 0 0,
              linear-gradient(45deg, transparent 75%, #64270386 75%) 0 100%,
              linear-gradient(-45deg, transparent 75%, #967801 75%) 0 100%;
    background-color: #292727; 
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) 
    
  }

  .about {
    max-width: 600px; 
    margin: 0 auto;
    text-align: center; 
    padding: 20px;
}

.park-container {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  background-color: #023f02;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  margin: 0 auto;
  
}

ul.park-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
  list-style: none;
   
}




.park-image {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.park-button {
  background-color: #292727;
  border: 2px solid black;
  padding: 10px;
  color: gold;;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.park-button.completed {
  background-color: #710101
}
.searchbar {
  display: inline-block;
  background-color: #023f02;
  border: 2px solid black;
  padding: 10px;
  color: gold;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.newparkform {
  display: inline-block;
  background-color: #023f02;
  border: 2px solid black;
  padding: 10px;
  color: gold;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
}
.newparkformbutton{
  background-color: #292727;
  border: 2px solid black;
  padding: 10px;
  color: gold;;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}